.scroll {
  overflow-y: auto;
  padding: 10px 40px;
  // height: 100%;
}

.border {
  // border: 1px solid #aaa;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;  
}

.code-container {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #eee;
}

.code-editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ctrl {
  border-left: 1px dashed #ccc;
  border-right: 1px dashed #ccc;
}

// .ctrl-hover:hover {
//   border-color: #ccc;
// }

.gadget-items {
  display: flex;
  flex-direction: column;
}

.add {
  height: 1px;
  position: relative;
  z-index: 2;
  border-top: 1px dashed #ccc;
}

// .active {
    // background-color: #ccc;
    // height: 80px;
  // }

.add:hover {
  // height: 1px;
  background-color: #ccc;
}

.add-button {
  position: absolute;
  top: -10px;
  left: -12px;
  height: 22px;
  width: 22px;
  cursor: pointer;
  background-color: inherit;
  border-radius: 50%;

  .mat-icon {
    width: 22px !important;
    text-align: center;
  }
  .material-icons {
    font-size: 16px;
    line-height: 1.3;
  }
}

.add-items {
  height: 10px;

  // &.active {
  //   background-color: #ccc;
  //   height: 80px;
  // }
}

.item-bar {
  // opacity: 0.5;
  // display: none;
  // max-height: 0;
  // overflow: hidden;
  // transition: max-height 0.2s ease-out;

  display: none;
  padding: 4px;

  &.active {
    display: block;
    background-color: #eee;
  }
}
