<!--<div class="full-container" #container (window:resize)="height = container.getBoundingClientRect().height">-->


<div class="full-container" #container>
  <!--<div class="full-content">-->
    <!--<ace-editor #editor
      [style.height.px]="height || container.getBoundingClientRect().height / 2"
      [(text)]="state?.behavior.code"
      [mode]="'javascript'"
      [options]="options">
      [style.height.px]="height || container.getBoundingClientRect().height">
    </ace-editor>-->
    <div #droplet
    >
    </div>
    <button class="toggle" md-mini-fab (click)="toggleCodeMode()">
      <md-icon>code</md-icon>
    </button>
  <!--</div>-->
</div>