<div fxLayout="column" fxFill>
  <app-navbar [title]="bookTitle" [subtitle]="sectionTitle"></app-navbar>

  <!--<md-toolbar color="primary">
    <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
      <md-icon>import_contacts</md-icon>
      <span>Livro</span>
      <button md-icon-button>
        <md-icon>user</md-icon>
      </button>
    </div>
  </md-toolbar>-->

  <div fxLayout="row" fxFlex="grow">

    <ui-pane fxFlex="1 1 auto" fxLayout="column" class="sequence-pane">
      <ui-pane-title fxFlex="48px">
        <div class="title">Sequência de páginas</div>
      </ui-pane-title>
      <ui-pane-content fxFlex="grow">
        <app-flow></app-flow>
        <button md-fab class="play-button" (click)="openPlayer()" >
          <md-icon>play_arrow</md-icon>
        </button>
      </ui-pane-content>
    </ui-pane>

    <ui-pane fxFlex="2 1 auto" fxLayout="column">
      <ui-pane-title class="light" fxFlex="48px">
        <div class="title">Página "{{ state?.label }}"</div>
        <ui-pane-tools>
          <button md-icon-button (click)="logic.toggle()">
            <md-icon>code</md-icon>
          </button>
        </ui-pane-tools>
      </ui-pane-title>
      <ui-pane-content fxFlex="grow">
        <md-sidenav-container fxFill>
          <md-sidenav #logic mode="side" align="end" style="width: 60%">
            <app-logic fxFill></app-logic>
          </md-sidenav>
          <app-page-editor></app-page-editor>
        </md-sidenav-container>          
      </ui-pane-content>
    </ui-pane>
  </div>

</div>
