<md-dialog-content>
  <h2 md-dialog-title>Contatos</h2>
  <!--<p>Esta é uma versão de testes do PALDI. Caso queira entrar em contato com seus autores, favor uma enviar uma messagem para um dos emails:</p>-->
  <p>André Campos (UFRN): andre@dimap.ufrn.br</p>
  <p>Alberto Signoretti (UERN): alberto.signoretti@uern.br</p>
  <p>Mário Rodrigues (UA): mjfr@ua.pt</p>
</md-dialog-content>
<!--<md-dialog-actions>
  <button md-raised-button color="primary" (click)="dialogRef.close('ok')">Sim</button>
  <button md-raised-button (click)="dialogRef.close('no')">Não</button>
</md-dialog-actions>-->