<div>
  <button md-icon-button mdTooltip="Texto formatado" (click)="addItem.emit('text')">
    <md-icon>title</md-icon>
  </button>
  <button md-icon-button mdTooltip="Escolha de uma opção" (click)="addItem.emit('choice')">
    <md-icon>format_list_bulleted</md-icon>
  </button>
  <button md-icon-button mdTooltip="Entrada de texto" (click)="addItem.emit('input')">
    <md-icon>text_format</md-icon>
  </button>
  <button md-icon-button mdTooltip="Valor em um intervalo">
    <md-icon>tune</md-icon>
  </button>
  <button md-icon-button mdTooltip="Imagem" (click)="addItem.emit('svg')">
    <md-icon>color_lens</md-icon>
  </button>
  <button md-icon-button mdTooltip="Gráfico">
    <md-icon>insert_chart</md-icon>
  </button>
  <button md-icon-button mdTooltip="Mapa">
    <md-icon>place</md-icon>
  </button>
</div>