<div>
  <button md-icon-button>
    <md-icon>title</md-icon>
  </button>
  <button md-icon-button (click)="addItem.emit('choice')">
    <md-icon>format_list_bulleted</md-icon>
  </button>
  <button md-icon-button (click)="addItem.emit('input')">
    <md-icon>text_format</md-icon>
  </button>
  <button md-icon-button>
    <md-icon>tune</md-icon>
  </button>
  <button md-icon-button>
    <md-icon>color_lens</md-icon>
  </button>
  <button md-icon-button>
    <md-icon>insert_chart</md-icon>
  </button>
  <button md-icon-button>
    <md-icon>place</md-icon>
  </button>
</div>